/env
/main_v1.py
/main_v2.py
/base
/smarketsim/__pycache__
/smarketsim/v1/__pycache__
/smarketsim/v2/__pycache__
/sim_files
/validation/base
/validation/v1/failed.json
/validation/v1/sim_files
/build
/smarketsim.egg-info
/parqs
/pickles
/validation/failed.json
/smarketsim/v2/_mapping_excel.xlsx
/validation/v2/parqs
/validation/v2/sim_files
/validation/v2/env
/.vscode